{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="website icon" type="png" href="{% static 'main/img/avatar.png' %}">
    {% if request.user.username == 'alise' %}
        <link rel="stylesheet" href="{% static 'main/css/main_purple.css' %}">
    {% else %}
        <link rel="stylesheet" href="{% static 'main/css/main_basic.css' %}">
    {% endif %}
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/theme.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/login.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/popups.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/plan_main.css' %}">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"/>





</head>

<body>

<div class="dark-mode-pos">

</div>


<main>
    {% block content %}

    {% endblock %}

    <div style="height: 100px; visibility: hidden;"></div>
</main>


{% if request.user.is_authenticated %}
    <footer class="footer-currency">
        <div class="currency-block-container">
            <button id="toggle-currency-block">
                <span id="toggle-arrow">&#9650;</span>
            </button>
            <div class="exchange-rates-wrapper">
                <div id="exchange-rates-container">
                    <div class="custom-block">
                        <h4><span class="exchange-title">Exchange rates</span></h4>
                    </div>
                    <div id="exchange-rates">

                    </div>
                </div>
            </div>
        </div>
    </footer>
{% endif %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.18.5/xlsx.full.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script type="module" src="{% static 'main/js/modules/popup.js' %}"></script>
<script type="module" src="{% static 'main/js/modules/notifications.js' %}"></script>
<script type="module" src="{% static 'main/js/modules/graphs.js' %}"></script>
<script type="module" src="{% static 'main/js/modules/graphs-shared.js' %}"></script>
<script type="module" src="{% static 'main/js/modules/transactions.js' %}"></script>
<script type="module" src="{% static 'main/js/modules/transactions-shared.js' %}"></script>

{% block scripts %}

{% endblock %}


</body>

</html>